.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading-spinner-content {
  background-color: rgb(24, 24, 27);
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 28rem;
  height: 24rem;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image: linear-gradient(rgb(250, 144, 120) 16px, transparent 0), linear-gradient(green 16px, transparent 0), linear-gradient(green 16px, transparent 0),
    linear-gradient(rgb(250, 144, 120) 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}
